:root {
  --highlight-color: #35b8ff;
  --link-color: #e47900;
  --link-visited-color: #cf6f00;
  --line-height-1: 1;

  --bg-color: #f7f7f7;
  --txt-color: #222222;

  --nav-selected-color: #212121;
  --nav-hover-color: #535353;
  --txt-hover-color: var(--bg-color);
}

@font-face {
  font-family: "Archivo";
  src: url(https://m-t.neocities.org/fonts/archivo-regular-webfont.woff2) format("woff2"),
    url(https://m-t.neocities.org/fonts/archivo-regular-webfont.woff2) format("woff");
}

@font-face {
  font-family: "Archivo Bold";
  src: url(https://m-t.neocities.org/fonts/archivo-bold-webfont.woff2) format("woff2"),
    url(https://m-t.neocities.org/fonts/archivo-bold-webfont.woff) format("woff");
}

@font-face {
  font-family: "Archivo Italic";
  src: url(https://m-t.neocities.org/fonts/archivo-italic-webfont.woff2) format("woff2"),
    url(https://m-t.neocities.org/fonts/archivo-italic-webfont.woff) format("woff");
}

body {
  /* 
    Set max width for the site to be compatible for most screensize 
  */
  max-width: 800px;
  margin: auto;


  /* 
    Dynamic viewport height
    Never use margin
  */
  min-height: 100dvh;

  /* 
    Add custom fonts 
  */
  font-family: "Archivo", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --highlight-color: #008fdb;

    --bg-color: #2c2c2c;
    --txt-color: #e9e9e9;

    --nav-selected-color: #f7f7f7;
    --nav-hover-color: #dadada;
    --txt-hover-color: var(--bg-color);
  }

  header {
    border: 1px solid;
  }

  body {
    color: var(--txt-color);
    background-color: var(--bg-color);
  }

  a {
    color: inherit;
  }

  .nav-option:hover,
  .nav-option:focus {
    background-color: var(--nav-hover-color);
    color: var(--txt-hover-color);
  }

  .selected {
    background-color: var(--nav-selected-color);
    color: var(--txt-hover-color);
  }

  .selected .personal-color {
    color: var(--highlight-color);
  }
}

@media (prefers-color-scheme: light) {
  header {
    border: 1px solid;
  }

  body {
    color: var(--txt-color);
    background-color: var(--bg-color);
  }

  a {
    color: inherit;
  }

  .nav-option:hover,
  .nav-option:focus {
    background-color: var(--nav-hover-color);
    color: var(--txt-hover-color);
  }

  .selected {
    background-color: var(--nav-selected-color);
    color: var(--txt-hover-color);
  }

  .selected .personal-color {
    color: var(--highlight-color);
  }
}

html {
  color-scheme: dark light;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

nav li {
  line-height: var(--line-height-1);
  list-style: none;
  display: flex;
}

nav li a {
  text-decoration: none;
}

.archive-list {
  list-style: none;
  padding: 0;
  margin-block-start: .5em;
  margin-block-end: 0;
}

.nested-archive-list li {
  margin-block-start: .4em;
  margin-block-end: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: calc(1em + 0.5rem);
  margin-block-start: .67em;
  margin-block-end: 0;
}

a:focus,
a:active {
  outline: 4px solid var(--highlight-color);
  outline-offset: 4px;
  z-index: 0;
}

a:not(.nav-option) {
  text-decoration: underline;
}

a:hover:not(.nav-option, .cc-link),
a:focus:not(.nav-option, .cc-link),
a:visited:hover:not(.nav-option, .cc-link),
a:visited:focus:not(.nav-option, .cc-link) {
  color: #f7f7f7;
  background-color: var(--link-color);
}

a:visited:not(.nav-option, .cc-link) {
  color: var(--link-visited-color);
}

.nav-option {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
}

.personal-badge {
  font-family: "Archivo Bold", sans-serif;
}

.cc-footer {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.cc-copyright {
  margin-right: 4px;
}

.cc-logo {
  display: block;
}

#vm-img {
  display: block;
  margin: 0.5em 0;
}