:root {
  --highlight-color: #35b8ff;
  --link-color: #e47900;
  --link-visited-color: #cf6f00;
  --line-height-header: 1;

  --bg-color: #f7f7f7;
  --txt-color: #222222;

  --nav-selected-color: #2c2c2c;
  --nav-hover-color: #535353;
  --txt-hover-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #2c2c2c;
    --txt-color: #e9e9e9;

    --nav-selected-color: #f7f7f7;
    --nav-hover-color: #dadada;
    --txt-hover-color: var(--bg-color);
  }
  
  header {
    border: 1px solid;
  }

  body {
    color: var(--txt-color);
    background-color: var(--bg-color);
  }

  a {
    color: inherit;
  }

  nav a:hover,
  nav a:focus {
    background-color: var(--nav-hover-color);
    color: var(--txt-hover-color);
  }  

  .selected {
    background-color: var(--nav-selected-color);
    color: var(--txt-hover-color);
  }

  .selected .personal-color {
    color: var(--highlight-color);
  }
}

@media (prefers-color-scheme: light) {
  header {
    border: 1px solid;
  }

  body {
    color: var(--txt-color);
    background-color: var(--bg-color);
  }

  a {
    color:inherit;
  }

  nav a:hover,
  nav a:focus {
    background-color: var(--nav-hover-color);
    color: var(--txt-hover-color);
  }  

  .selected {
    background-color: var(--nav-selected-color);
    color: var(--txt-hover-color);
  }

  .selected .personal-color {
    color: var(--highlight-color);
  }
}

html {
  color-scheme: dark light;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav li {
  line-height: var(--line-height-header);
  display: flex;
  list-style: none;
}

nav a {
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

a:focus,
a:active {
  outline: 4px solid var(--highlight-color);
  outline-offset: 4px; 
  z-index: 0;
}

header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.archive-list {
  list-style: none;
}

.archive-list a {
  text-decoration: underline;
}

.archive-list a:hover,
.archive-list a:focus,
.archive-list a:visited:hover,
.archive-list a:visited:focus
 { 
  color: #f7f7f7;
  background-color: var(--link-color);
}

.archive-list a:visited { 
  color: var(--link-visited-color); 
}

.personal-badge {
  font-weight: bold;
}